.form__field {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(223, 205, 195);
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 90px;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
}

.container {
    max-width: 500px;
    margin: auto;
}

.form {
    margin: auto 8px;
}

.form__button {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 205, 195);
}

.form__button:hover {
    background-color: rgb(215, 177, 157);
}

.form__button:active {
    background-color: rgb(214, 145, 108);
}

.form__link {
    text-decoration: none;
    color: brown;
}

.form__result {
    text-align: center;
    font-size: 20px;
}

.form__fieldset {
    border: 3px solid;
}

.form__legend {
    padding: 20px;
    border: 2px dashed;
    font-size: 15px;
}

.form__containerText {
    width: 100%;
    max-width: 100px;
}